$theme-colors: ( "primary": #FF69B4 );

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://cloud.typography.com/7722678/6294412/css/fonts.css);

// =========== START MIXINS

// == Prefixes
// Prefix choosen declarations for browsers you want to support.
// @param $declarations (map) - sass map of css declarations to prefix
// @param $property-prefixes (list) - space separeted sass list of vendor prefixes (w/out dashes)
@mixin _prefix ($declarations, $property-prefixes: webkit moz ms o) {
  @each $property, $value in $declarations {          // Take property and value from each declaration
    @each $property-prefix in $property-prefixes {    // Take each vendor prefix from list
      -#{$property-prefix}-#{$property}: #{$value};   // Output each declaration with each property prefixed
    }
    #{$property}: #{$value};                          // Output declaration with unprefixed property (W3C standard)
  }
}

// background image
@mixin img-bg ($imgpath,$position,$repeat: no-repeat){
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
  }
}

// background size
@mixin bg-size ($size){
  @include _prefix((background-size: $size), (webkit moz ms));
}

// =========== END MIXINS

// =========== START TYPOGRAPHY

h1, h3, a {
  font-family: "Gotham A", "Gotham B", sans-serif !important;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-family: "Gotham A", "Gotham B", sans-serif !important;
  font-style: normal;
  font-weight: 300;
}
p {
  font-family: "Gotham A", "Gotham B", sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

h1   { font-size: 4.2em; }
h2   { font-size: 3em; }
h3   { font-size: 1.5em; }

// Fluid typography
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw){
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw){
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1600px;
$min_font: 11px;
$max_font: 16px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

// =========== END TYPOGRAPHY

$home-bg: '../assets/home/home-temp.png';
$characters-bg: '../assets/char/char-temp.png';
$about-bg: '../assets/about-temp.png';
$nimbus-bg: '../assets/nimbus/nimbus-temp.png';
$character-bg: '../assets/char-bg-temp.png';


#home {
  @include img-bg($home-bg, center center);
  @include bg-size(cover);
  height: 100vh;
}

#home-mobile {
  @include img-bg($home-bg, center center);
  @include bg-size(cover);
  height: 100vh;
}

#characters {
  @include img-bg($characters-bg, center center);
  @include bg-size(cover);
  height: 100vh;
}

#character {
  @include img-bg($character-bg, center center);
  @include bg-size(cover);
  height: 100vh;
  color: white;
}

#about,
#about-mobile {
  @include img-bg($about-bg, center center);
  @include bg-size(cover);
  height: 100vh;
}

#nimbus {
  @include img-bg($nimbus-bg, center center);
  @include bg-size(cover);
  height: 100vh;
}

#book {
  background-color: #0c1013;
  color: white;
  height: 100vh;
}


a {
  font-size: 0.8em;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}

#home,
#home-mobile,
#characters,
#character,
#nimbus,
#book {
  a { color: white; }
  a:hover { color: white; }
  .logo {
    border-right: 0.5px white solid;
  }
}

#about {
  h1, p, a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  .logo {
    border-right: 0.5px black solid;
  }
}

#axis-small {
  z-index: 999;
  width: 100px;
  top: 10%;
  left: 42px;
}

svg|a:link, svg|a:visited {
  cursor: pointer;
}

svg|a text,
text svg|a {
  fill: blue; /* Even for text, SVG uses fill over color */
  text-decoration: underline;
}

svg|a:hover, svg|a:active {
  outline: dotted 1px blue;
}

.nav-row {
  color: white;
  height: 70px;
  padding: 0 1%;
  width: 100%;
}

.about-details {
  color: white;
  padding: 0 1%;
  width: 100%;
}

.nav-icon {
  width: 16px;
  height: 16px;
}

.account-icon {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 3px white double;
  @include img-bg('../assets/logged-out.png', center center);
  @include bg-size(cover);
}
.characters-icon {
  width: 75px;
  height: 75px;
  @include img-bg('../assets/characters.png', center center);
  @include bg-size(cover);
}

// Global navigation stuffs
.nav-stuff {
  position: absolute;
  z-index: 101;
}
.top-left-nav {
  position: fixed;
  top: 3%;
  left: 2%;
  width: 250px;
}
.top-right-nav {
  position: fixed;
  top: 3%;
  right: 3%;
  a { color: black !important; }
}
.mid-left-nav {
  position: fixed;
  top: 50%;
  left: 2%;
}
.mid-right-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  right: 2%;
}
.bottom-right-nav {
  position: fixed;
  bottom: 3%;
  right: 2%;
  // a { color: black !important; }
  display: flex;
  width: 150px;
  .icon-navlink {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 28px;
      height: 28px;
      margin-bottom: 6px;
      @include bg-size(cover);
    }
  }
  .icon-trailer {
    @include img-bg('../assets/trailer-temp.png', center center);
  }
  .icon-book {
    @include img-bg('../assets/book-temp.png', center center);
  }
}

.logo {
  width: 150px;
  padding-right: 16px;
  margin-right: 20px;
}

.world-gates {
  z-index: 100;
  width: 100%;
  height: 99vh;
  left: 0 !important;
  pointer-events: bounding-box !important;
}

.world {
  height: 100vh;
  margin: 0 auto;
}

.character-grid {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0 !important;
  .col { min-height: 200px; }
}

.profile-grid {
  position: fixed;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  .col { min-height: 100px; }
  .character-tile {
    img { width: 60px; }
  }
}

.character-tile {
  padding: 0;
  // @include img-bg('../assets/char/char-tile-temp.png', center center);
  // @include bg-size(93%);
  img { height: 100px; }
}

.gate-info {
  color: white;
  p { font-size: 0.8em; }
}

.gate-characters {
  width: 55%;
  margin: 0 auto;
}

.gate-character-tile {
  padding: 0;
  @include img-bg('../assets/char/char-tile-temp.png', center center);
  @include bg-size(95%);
  width: 140px;
  min-height: 200px;
}

input.page-input {
  width: 100px;
  height: 40px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

#about {
  .full-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .right-column {
      width: 45%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about-info {
        display: flex;
        flex-direction: column;
        width: 80%;
      }

      .about-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

#character {
  .full-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 85%;

    .left-column {
      width: 30%;
      text-align: center;
      .character-select {

        .tile {
          padding: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            margin-bottom: 6px;
            padding: 0 6px;
          }
        }
      }
    }

    .middle-column {
      width: 69%;
      .character-cutout {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          max-width: 850px;

        }
      }
    }

    .right-column {
      width: 33%;
      .character-icon {
        min-width: 60px;
      }
    }
  }
}

#characters {
  .full-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    max-width: 85%;

    .left-column {
      a { color: black !important; }
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right-column {
      width: 75%;
      flex-wrap: wrap;
      padding: 6px;
      a img {
        max-width: 16%;
        padding: 12px;
      }
    }
  }
}

#characters-carousel {
  z-index: 4;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel-container {
  width: 100%;
  height: 100vh;
}
.carousel-item {
  .character-slide-cutout {
    position: relative;
    left: 55%;
  }
  img {
    object-fit: cover;
    max-height: 375px;
  }
  .carousel-caption {
    right: 10%;
    bottom: 30%;
    left: 13%;
    width: 80%;
  }
  .character-info {
    text-align: right;
  }
}
#carousel-thumbs {
  background: transparent;
  bottom: 15px;
  left: 0;
  padding: 0 55px;
  right: 0;
  width: 60%;
  height: 120px;
  .img-fluid {
    max-width: 70px;
    height: 100px;
  }
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

// World gate styles

#world {
  @include img-bg($nimbus-bg, center center);
  @include bg-size(cover);

  .dark-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.125;
  }
}
.world-video-container {
  background: black;
}

// Global media queires

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: transparent;
  }
}

@media all and (max-width: 812px) {
  // Character info
  .carousel-item .carousel-caption {
    // hide paragraph text on mobile
    p {
      display: none;
    }
  }

  // Small axis nav
  #axis-small {
    display: none;
  }
}

// =========== START MEDIA QUERIES

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1   { font-size: 2.1em !important; }
    h2   { font-size: 2.5em; }
    h3   { font-size: 1.3em; }
    p    { font-size: 11px !important; }

    .device-iPhone4 {
      display: block !important;
    }

    // book.html
    #book {
      .character-grid {
        margin: 0 auto;
      }
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .mobile-landscape {
      display: none;
    }
    .mobile-portrait {
      display: block;
    }

  // book.html
  #book {
    img.book-player {
      width: 100% !important;
      max-width: 950px;
    }
  }

  // Worlds template styles
  #world {
    height: 100vh;
    // background: grey;
    display: flex;
    align-items: center;
    color: white;

    .row {
      height: 80vh !important;
      width: 284px;
      margin: 0 auto;
      justify-content: center;

      .world-info {
        text-align: center;
        margin-bottom: 12px;
        padding: 0;

        p {
          padding: 0 2%;
        }

        .world-heading {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .world-icon {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background: white;
          }
        }
      }

      .world-video {
        text-align: center;
        margin-bottom: 12px;

        .world-video-container {
          height: 30vh;
          border: 1px solid white;
          margin: 0 auto;
          width: 80vw;
        }
      }

      .world-characters {
        text-align: center;
        margin: 0 auto;
        // display: flex;
        flex-direction: column;
        height: 100px;

        h3 {
          margin-bottom: 12px;
        }

        .world-character-row {
          width: 65%;
          height: 75px;
          // border: 1px solid white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0 auto;

          .character-tile {
            width: 60px;
            margin: 0 3px;
            // border: 1px solid white;
            @include img-bg('../assets/char/char-tile-temp.png', center center);
            @include bg-size(100%);
          }
        }
      }
    }
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .mobile-landscape {
    display: block;
  }
  .mobile-portrait {
    display: none;
  }

  // Worlds template styles
  #world {
    height: 100vh;
    // background: grey;
    display: flex;
    align-items: center;
    color: white;

    .row {
      height: 80vh;
      width: 410px;
      margin: 0 auto;
      justify-content: center;
      flex-direction: row;

      .world-info {
        text-align: center;
        margin-bottom: 8px;
        padding: 0 24px;

        .world-heading {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 8px;

          h1 {
            margin: 0;
            font-size: 2.3em;
          }

          .world-icon {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background: white;
          }
        }
      }

      .world-video {
        text-align: center;
        margin-bottom: 0;

        .world-video-container {
          width: 64vw !important;
          height: 55vh !important;
          border: 1px solid white;
          margin: 0 auto;
        }
      }

      .world-characters {
        text-align: center;
        margin: 0 auto;
        // display: flex;
        flex-direction: column;
        height: 100px;
        bottom: 55px;
        padding: 0;

        h3 {
          margin-bottom: 4px;
        }

        .world-character-row {
          width: 40%;
          height: 75px;
          // border: 1px solid white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0 auto;

          .character-tile {
            width: 60px;
            margin: 0 3px;
            // border: 1px solid white;
            @include img-bg('../assets/char/char-tile-temp.png', center center);
            @include bg-size(100%);
          }
        }
      }
    }
  }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1   { font-size: 2.1em !important; }
    h2   { font-size: 2.5em; }
    h3   { font-size: 1.3em; }
    p    { font-size: 11px !important; }

    #book {
      .character-grid {
        margin: 0 auto;
      }
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .mobile-landscape {
      display: none;
    }
    .mobile-portrait {
      display: block;
    }

    // book.html
    #book {
      img.book-player {
        width: 100% !important;
        max-width: 950px;
      }
    }

    // Worlds template styles
    #world {
      .row {
        height: 70vh !important;

        .world-info {
          margin-bottom: 0;
          height: 15vh;
        }
        .world-video {
          margin-bottom: 0;
          height: 25vh;
          .world-video-container {
            height: 25vh;
            width: 80vw;
          }
        }
      }
    }

    #myCarousel {
      // Character info
      .carousel-item .carousel-caption {
        right: 0;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: 0;
        padding: 0 16px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 74vh;

        // hide paragraph text on mobile
        p { display: none; }
      }
      // Character cutout image {
      .carousel-item .character-slide-cutout {
        position: absolute;
        max-height: 475px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
    #carousel-thumbs {
        background: transparent;
        bottom: 10px;
        left: 0;
        padding: 0 12px;
        right: 0;
        width: 100%;
        height: 120px;

        // Carousel arrows
        .carousel-control-prev,
        .carousel-control-next {
            width: 25px;
        }
        .carousel-control-prev {
          left: -15px;
        }
        .carousel-control-next {
          right: -15px;
        }
        .carousel-inner {
          text-align: center;
        }
        // Carousel thumbnail image size
        .img-fluid {
          max-width: 45px;
          height: 100px;
        }
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #carousel-thumbs {
      position: absolute;
      padding: 0;
      width: 50%;
      height: 120px;
      top: 81% !important;
      left: 2%;

      .img-fluid {
        max-width: 45px !important;
        height: 70px !important;
      }
    }

    // Carousel arrows
    .carousel-control-prev,
    .carousel-control-next {
      width: 25px;
    }
    .carousel-control-prev {
      left: -25px !important;
    }
    .carousel-control-next {
      right: -25px !important;
    }

    .carousel-container {
      height: 245px;
    }
    .carousel-item img {
      object-fit: cover;
      max-height: 320px;
    }
    .carousel-item .carousel-caption {
      right: 0;
      bottom: 25%;
      left: 6%;
      width: 50%;
      padding: 0;
    }


    // Worlds template styles
    .mobile-landscape {
      display: block;
    }
    .mobile-portrait {
      display: none;
    }

    // book.html
    #book {
      img.book-player {
        width: 60% !important;
        max-width: 950px;
      }
    }

    // World template styles
    #world {
      height: 100vh;
      // background: grey;
      display: flex;
      align-items: center;
      color: white;

      .row {
        height: 50vh;
        width: 100%;
        margin: 0;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .world-info {
          text-align: left;
          margin-bottom: 8px;
          padding: 0;

          .world-heading {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;

            h1 {
              margin: 0;
              font-size: 2.3em;
              min-width: 200px;
            }

            .world-icon {
              width: 32px;
              height: 32px;
              min-width: 32px;
              border-radius: 16px;
              background: white;
              margin-right: 8px;
            }
          }
          p {
            background: rgba(0, 0, 0, 0.32);
            padding: 12px 12px 12px 24px;
            left: -18px;
            position: relative;
          }
        }

        .world-video {
          text-align: center;
          margin-bottom: 0;
          position: absolute;
          z-index: -99;
          align-self: center;

          .world-video-container {
            width: 60vw !important;
            height: 55vh !important;
            border: 1px solid white;
            margin: 0 auto;
          }
        }

        .world-characters {
          text-align: center;
          margin: 0;
          flex-direction: column;
          height: 100px;
          bottom: 0;

          h3 {
            margin-bottom: 4px;
          }

          .world-character-row {
            width: 100%;
            height: 85px;
            // border: 1px solid white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;

            .character-tile {
              width: 60px;
              margin: 0 3px;
              // border: 1px solid white;
              @include img-bg('../assets/char/char-tile-temp.png', center center);
              @include bg-size(100%);
            }
          }
        }
      }
    }


}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h1   { font-size: 2.1em !important; }
    h2   { font-size: 2em; }
    h3   { font-size: 1.3em; }
    p    { font-size: 13px !important; }

    // book.html
    #book {
      .character-grid {
        margin: 0 auto;
      }
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .mobile-landscape {
      display: none;
    }
    .mobile-portrait {
      display: block;
    }

    // World template styles
    #world {
      .row {
        height: 75vh !important;
        .world-video {
          height: 30vh;

          .world-video-container {
            height: 30vh !important;
            width: 85vw !important;
          }
        }

        .world-character-row {
          width: 100% !important;
          height: inherit !important;
        }

      }
    }

    .carousel-inner {
      height: 74vh;
    }

    // Character thumbnails
    #carousel-thumbs {
      width: 90%;
      padding: 0;
      bottom: 35px;
      height: 90px;
      margin: 0 auto;

      .img-fluid {
        max-width: 55px !important;
        height: 90px !important;
      }
    }
    // Carousel arrows
    .carousel-control-prev,
    .carousel-control-next {
      width: 25px;
    }
    .carousel-control-prev {
      left: -30px !important;
    }
    .carousel-control-next {
      right: -30px !important;
    }
    // Character info
    .carousel-item .carousel-caption {
      right: 0;
      bottom: 0;
      width: 100%;
      margin: 0 auto;
      position: relative;
      left: 0;
      padding: 0 16px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 74vh;

      // hide paragraph text on mobile
      p { display: none; }
    }
    // Character cutout image {
    .carousel-item .character-slide-cutout {
      position: absolute;
      max-height: 475px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  #carousel-thumbs {
    position: absolute;
    padding: 0;
    width: 50%;
    height: 85px;
    top: 65%;
    left: 2%;
  }
  #carousel-thumbs .img-fluid {
    max-width: 55px;
    height: 85px;
  }
  .carousel-item .carousel-caption {
    right: 0;
    bottom: 32%;
    left: 6%;
    width: 46%;
    padding: 0 0 16px;
  }

  // Worlds template styles
  .mobile-landscape {
    display: block;
  }
  .mobile-portrait {
    display: none;
  }

  // book.html
  #book {
    img.book-player {
      width: 60% !important;
      max-width: 950px;
    }
  }

  // World template styles
  #world {
    height: 100vh;
    // background: grey;
    display: flex;
    align-items: center;
    color: white;

    .row {
      height: 50vh;
      width: 100%;
      margin: 0;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .world-info {
        text-align: left;
        margin-bottom: 8px;
        padding: 0;

        .world-heading {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 8px;

          h1 {
            margin: 0;
            font-size: 2.3em;
            min-width: 200px;
          }

          .world-icon {
            width: 32px;
            height: 32px;
            min-width: 32px;
            border-radius: 16px;
            background: white;
            margin-right: 8px;
          }
        }
        p {
          background: rgba(0, 0, 0, 0.32);
          padding: 12px 12px 12px 24px;
          left: -18px;
          position: relative;
        }
      }

      .world-video {
        text-align: center;
        margin-bottom: 0;
        position: absolute;
        z-index: -99;
        align-self: center;

        .world-video-container {
          width: 60vw !important;
          height: 55vh !important;
          border: 1px solid white;
          margin: 0 auto;
        }
      }

      .world-characters {
        text-align: center;
        margin: 0;
        flex-direction: column;
        height: 100px;
        bottom: 0;

        h3 {
          margin-bottom: 4px;
        }

        .world-character-row {
          width: 100%;
          height: 85px;
          // border: 1px solid white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0;

          .character-tile {
            width: 60px;
            margin: 0 3px;
            // border: 1px solid white;
            @include img-bg('../assets/char/char-tile-temp.png', center center);
            @include bg-size(100%);
          }
        }
      }
    }
  }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1   { font-size: 2.4em !important; }
    h2   { font-size: 2em; }
    h3   { font-size: 1.3em; }
    p    { font-size: 13px !important; }

    // book.html
    #book {
      .character-grid {
        margin: 0 auto;
      }
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

  // World template styles
  #world {
    .row {
      height: 60vh;

      .world-character-row {
        width: 80% !important;
        height: 105px;

        .character-tile {
          width: 70px !important;
        }
      }
    }
  }

  // Carousel
  .carousel-inner {
    height: 580px;
    .carousel-item .carousel-caption {
      bottom: 160px !important;
    }
  }

  #carousel-thumbs {
    position: fixed;
    padding: 0 30px !important;
    bottom: 10%;
    width: 100%;
    height: 100px;

    .img-fluid {
        max-width: 55px !important;
        height: 100px !important;
    }
  }

  // Carousel arrows
  .carousel-control-prev,
  .carousel-control-next {
    width: 25px !important;
    top: 20px;
  }
  .carousel-control-prev {
    left: 0 !important;
  }
  .carousel-control-next {
    right: 0 !important;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    #carousel-thumbs {
      padding: 0 12px;
      width: 50%;
      bottom: 50px;
      left: 25px;

      .img-fluid {
        max-width: 55px !important;
        height: 95px !important;
      }

      // Carousel arrows
      .carousel-control-prev,
      .carousel-control-next {
        width: 25px !important;
        top: 0;
      }
      .carousel-control-prev {
        left: -15px !important;
      }
      .carousel-control-next {
        right: -15px !important;
      }
    }
    .carousel-item {
      .character-slide-cutout {
        max-height: 400px;
      }
      .carousel-caption {
        right: 0;
        bottom: 36%;
        left: 2%;
        width: 100%;
        padding: 0 0 16px;
      }
    }

    // book.html
    #book {
      img.book-player {
        width: 60% !important;
        max-width: 950px;
      }
    }

    // Worlds template styles

    .mobile-landscape {
      display: block;
    }
    .mobile-portrait {
      display: none;
    }

    #world {
      height: 100vh;
      // background: grey;
      display: flex;
      align-items: center;
      color: white;

      .row {
        height: 50vh;
        width: 100%;
        margin: 0;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .world-info {
          text-align: left;
          margin-bottom: 8px;
          padding: 0;

          .world-heading {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;

            h1 {
              margin: 0;
              font-size: 2.3em;
              min-width: 200px;
            }

            .world-icon {
              width: 32px;
              height: 32px;
              min-width: 32px;
              border-radius: 16px;
              background: white;
              margin-right: 8px;
            }
          }
          p {
            background: rgba(0, 0, 0, 0.32);
            padding: 12px 12px 12px 24px;
            left: -18px;
            position: relative;
          }
        }

        .world-video {
          text-align: center;
          margin-bottom: 0;
          position: absolute;
          z-index: -99;
          align-self: center;

          .world-video-container {
            width: 60vw !important;
            height: 55vh !important;
            border: 1px solid white;
            margin: 0 auto;
          }
        }

        .world-characters {
          text-align: center;
          margin: 0;
          flex-direction: column;
          height: 100px;
          bottom: 0;

          h3 {
            margin-bottom: 4px;
          }

          .world-character-row {
            width: 100%;
            height: 100px;
            // border: 1px solid white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;

            .character-tile {
              width: 60px;
              margin: 0 3px;
              // border: 1px solid white;
              @include img-bg('../assets/char/char-tile-temp.png', center center);
              @include bg-size(100%);
            }
          }
        }
      }
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    h1   { font-size: 3em; }
    h2   { font-size: 2em; }
    h3   { font-size: 1.1em; }
    p    { font-size: 13px !important; }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    // World template styles
    #world {
      .row {
        height: 56vh !important;

        .world-video {
          .world-video-container {
            height: 26vh !important;
            width: 87vw !important;
          }
        }
        .world-character-row {
          width: 86% !important;
          height: inherit !important;

          .character-tile {
            width: 30vw !important;
          }
        }
      }
    }

  .mid-left-nav {
    top: 10%;
    left: 5%;
  }
  .hub-container {
    display: flex;
    justify-content: center;
  }
  .world {
    height: 45vh;
    // need to update the world gates graphic
  }
  .character-info {
    p { display: none; }
  }
  .carousel-inner {
    height: 75vh;


    .carousel-item {
      text-align: center;
      img {
        object-fit: cover;
        max-height: 600px;
      }
      .carousel-caption {
        bottom: 0 !important;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 72vh;
      }
    }
    // Character cutout
    .character-slide-cutout {
      left: 0;
    }
  }
  #carousel-thumbs {
    background: transparent;
    position: fixed;
    padding: 0 24px;
    bottom: 15%;
    width: 100%;
    height: 80px;
    .img-fluid {
      max-width: 55px;
      height: 85px;
    }
    // Carousel arrows
    .carousel-control-prev,
    .carousel-control-next {
      width: 25px !important;
      top: 20px;
    }
    .carousel-control-prev {
      left: 0 !important;
    }
    .carousel-control-next {
      right: 0 !important;
    }
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .top-left-nav,
  .top-right-nav {
    top: 5%;
  }
  .mid-left-nav {
    top: 17%;
    left: 3%;
  }
  .mid-right-nav {
    top: 42%;

    .characters-icon {
      width: 55px;
      height: 55px;
      @include img-bg('http://nimapush-14dab.kxcdn.com/assets/characters.png', center center);
      @include bg-size(cover);
    }
  }
  .bottom-right-nav {
    bottom: 5%;
    right: 1%;
  }
  .characters-nav {
    position: fixed;
    left: 3%;
    bottom: 5%;
  }

  #carousel-thumbs {
    .img-fluid {
      max-width: 65px;
      height: 100px;
    }
  }

  #characters {
    .full-container {
      width: 80%;
      .left-column {
        width: 20%;
      }
      .right-column a img {
        padding: 6px;
      }
    }
  }

  #character {
    .full-container {
      width: 100%;
    }
    .left-column {
      width: 50% !important;
      text-align: right !important;

      .carousel-control-prev,
      .carousel-control-next {
        width: 10%;
      }

      .character-select {
        .character-row {
          width: 100%;
          max-width: 450px;
          height: 100px;
          border: 1px solid red;
          .carousel-control-next,
          .carousel-control-prev {
            height: 40px;
            top: 40%;
          }
          .carousel-indicators {
            top: -11px;
            margin: 0 auto;
            li {
              width: 60px;
              height: 100px;
            }
          }
        }
      }
    }
    .right-column {
      width: 50% !important;
      .character-cutout {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          max-width: 280px;
        }
      }
    }
  }

  // Worlds template styles
  #world {
    height: 100vh;
    // background: grey;
    display: flex;
    align-items: center;
    color: white;

    .row {
      height: 50vh;
      width: 100%;
      margin: 0;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .world-info {
        text-align: left;
        margin-bottom: 8px;
        padding: 0;

        .world-heading {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 8px;

          h1 {
            margin: 0;
            font-size: 2.3em;
            min-width: 200px;
          }

          .world-icon {
            width: 32px;
            height: 32px;
            min-width: 32px;
            border-radius: 16px;
            background: white;
            margin-right: 8px;
          }
        }
        p {
          background: rgba(0, 0, 0, 0.32);
          padding: 12px 12px 12px 24px;
          left: -18px;
          position: relative;
        }
      }

      .world-video {
        text-align: center;
        margin-bottom: 0;
        position: absolute;
        z-index: -99;
        align-self: center;

        .world-video-container {
          width: 50vw !important;
          height: 60vh !important;
          border: 1px solid white;
          margin: 0 auto;
        }
      }

      .world-characters {
        text-align: center;
        margin: 0;
        flex-direction: column;
        height: 100px;
        bottom: 0;

        h3 {
          margin-bottom: 4px;
        }

        .world-character-row {
          width: 100%;
          height: 100px;
          // border: 1px solid white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0;

          .character-tile {
            width: 60px;
            margin: 0 3px;
            // border: 1px solid white;
            @include img-bg('../assets/char/char-tile-temp.png', center center);
            @include bg-size(100%);
          }
        }
      }
    }
  }

}
